@font-face {
    font-family: "Meiryo";
    src: local("Meiryo"),
      url("./assets/font/Meiryo.ttf") format("truetype");
    font-weight: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow: hidden;
}
#main {
    display: inline;
    overflow: hidden;
    font-family: Meiryo;
}